<strong>Olá, {{ transporter }}</strong>
<p>Acabamos de cancelar uma entrega relacionada ao senhor, confira os detalhes abaixo:</p>
<p>
    <strong>Cliente: </strong> {{ recipient }} <br />
    <strong>Produto: </strong> {{ product }} <br />
    <strong>Motivo: </strong> {{ description }} <br />
    <br />
    <br />
    <small>Número de entregas realizadas na data de hoje: {{availableCounter}}</small>
    <br />
    <br />
    <small>
        Por gentileza, caso o sr não tenha cancelado a entrega,
        favor entrar em contato com o nosso suporte.
    </small>
    <br />
    <br />
</p>
